body{
    background-color:#919191;
    color: black;
}
.cuadro{
   width: 100px;
   height: 100px;
   background-color: blue;
   position: relative;
   animation: cambiarcolor 3s infinite:
}
@keyframes cambiarcolor{
   0%{
    left: 0px;
    background-color:blue;
     }
      50%{
     left: 200px;
     background-color:red;
     }
      100%{
        left: 0px;
        background-color:green;
     }
.aparecer{
animation: aparecerTex 3s ease-in;
@keyframes aparecerText{
          from{
             opacity:0;
             }
             to{opacity: 1;
             }
            }

